.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
  }

  .submit-button{
    width: 100%;
    height: auto;
    background: #19B5FE;
    color: white;
    text-align: center;
    padding: 12px;
    border: none;
    font-size: 19px;
    font-family: arial, sans-serif;
    cursor: pointer;
}

::ng-deep.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }


::ng-deep.mat-form-field.mat-focused .mat-form-field-ripple{
    background-color: #19B5FE;
  }

  ::ng-deep.mat-form-field-appearance-legacy.mat-focused .mat-form-field-label {
    color: #19B5FE;
  }

  .radio{
    font-weight: bold;
    color: #19B5FE;
    font-family: arial,sans-serif;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow:inset 5px 5px 5px #e6e6e6;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ff4081;
    /* border-radius: 10px; */
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ff4081; 
  }