/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body{
    background-color: #AFEEEE
}

.mat-form-field-appearance-outline .mat-form-field-outline-thick{
    color:rgb(147, 221, 255);
}

.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
    color: #19B5FE;
  }

.mat-form-field-appearance-outline.mat-focused .mat-form-field-label {
    color: #19B5FE;
  }

  .cdk-overlay-container{
    position: fixed;
    z-index: 1100!important;
}

