<nav class="navbar navbar-expand-sm shadow fixed-top justify-content-between" style="background: white;height:80px">
  <a class="navbar-brand" href="#">
    <img src="..\assets\images\logo.png" style="height:4rem">
  </a>
  <ul class="navbar-nav" style="margin-top: 3px;">
    <li class="nav-item" >
      <button class="button-box" (click)="openSignUp()"> 
        Sign up
      </button>
    </li>
    <li class="nav-item ml-2">
      <button class="login-button" (click)="openDialog()">Login</button>
    </li>
  </ul>
</nav>