<div mat-dialog-title>
  <div class="row">
    <div class="col-md-12" align="right">
      <i style="font-size: 26px;cursor:pointer" class="material-icons" (click)="onNoClick()">
        clear
      </i>
    </div>
  </div>
  
</div>
<div mat-dialog-content>
    <div class="row" style="margin-top: -32px;">
        <div class="col-md-12" align="center">
          <img src="..\assets\images\shopping-bags-1673587__340.png" style="height:8rem;" alt="Style yourself">
        </div>
      </div>
  <div class="row">
    <div class="col-md-12 mb-2" align="center" style="margin-top:-29px">
      <h2 style="letter-spacing: -1.4px;">Welcome back !</h2>
      <h6 style="color: #868686;font-weight: 100">Login to style yourself with <span style="color: deeppink;
font-size: 20px;">Style
          me</span></h6>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
        <div>
            <mat-form-field [color]="'#00CED1'" appearance="outline">
              <mat-label>Username</mat-label>
              <input matInput placeholder="Username">
              <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
              <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
          </div>
          <div>
            <mat-form-field [color]="'#00CED1'" appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput placeholder="Password">
              <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
              <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
          </div>
          <div>
              <input type="submit" class="submit-button" [disabled]="!loginForm.valid" value="Login">
            </div>
            
            
          
      </div>
      </div>
</div>
<div mat-dialog-actions>
  <div class="col-md-12 mt-2 mb-2">
    <div align="center" class="forget-password mt-3">
        <div>Forget password?</div>
      </div>
      <div align="center">
        <div>Don't have account? <a href="" style="color:deeppink">Sign up!</a></div>
      </div>
    </div>
</div>


